<div class="container mt-5 addproduct__container">
    <div class="addproduct__box shadow-lg p-4">
        <h1 class="text-center addproduct__title">Agregar Producto</h1>
        <form class="addproduct__form row g-3" action="/api/products/addproduct" method="POST">
            
            <div class="col-md-6">
                <label class="form-label addproduct__label" for="title">Título</label>
                <input type="text" class="form-control addproduct__input" id="title" name="title" required>
            </div>
            
            <div class="col-md-6">
                <label class="form-label addproduct__label" for="price">Precio</label>
                <input type="text" class="form-control addproduct__input" id="price" name="price" required>
            </div>
            
            <div class="col-12">
                <label class="form-label addproduct__label" for="description">Descripción</label>
                <textarea class="form-control addproduct__textarea" id="description" name="description" rows="3" required></textarea>
            </div>

            <div class="col-md-6">
                <label class="form-label addproduct__label" for="img">URL de Imagen</label>
                <input type="text" class="form-control addproduct__input" id="img" name="img">
            </div>
            
            <div class="col-md-6">
                <label class="form-label addproduct__label" for="code">Código</label>
                <input type="text" class="form-control addproduct__input" id="code" name="code" required>
            </div>

            <div class="col-md-6">
                <label class="form-label addproduct__label" for="stock">Stock</label>
                <input type="number" class="form-control addproduct__input" id="stock" name="stock" required>
            </div>
            
            <div class="col-md-6">
                <label class="form-label addproduct__label" for="category">Categoría</label>
                <input type="text" class="form-control addproduct__input" id="category" name="category" required>
            </div>
            
            <div class="col-12">
                <label class="form-label addproduct__label" for="status">Estado</label>
                <select class="form-select addproduct__select" id="status" name="status" required>
                    <option value="true">Stock</option>
                    <option value="false">Sin Stock</option>
                </select>
            </div>
            
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn addproduct__btn">Agregar Producto</button>
            </div>
            
        </form>
    </div>
</div>