<div class="users__container">

  <h1 class="users__title">Users List</h1>
  <div class="users__tablecontainer">
    <table class="users__table">
      <thead class="users__tablecontainer__thead">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Rol</th>
        </tr>
      </thead>
      <tbody class="users__tablecontainer__tbody">
        {{#each users}}
          <tr>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.rol}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="users__action">
    <button type="submit" class="users__action__button">Eliminar usuarios</button>
  </div>

</div>

<script src="../js/deleteUsers.mjs"></script>
